@import "../vars.css";
.container{
    position: relative;
    display: flex;
    
    justify-content: space-between;
     padding-top: 49px;
    z-index: 1;
    padding-left: 10%;
    padding-right: 10%;
    background-color: var(--color-primary);
    color: var( --color-text);
}
.iconlinks{
    display: none;
}
.title{
    font-size: 71px;
    font-weight: 500;
    margin-bottom: 33px;
    
    
    font-family: var(--font-roboto);
    background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 70%,
    rgba(255, 255, 255, 0) 120%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

}
.description{
    font-size: 27px;
    font-family: var(--font-roboto);
    margin-bottom: 25px;
    background: linear-gradient(
        90deg,
        rgb(253, 251, 251) 70%,
        rgba(255, 255, 255, 0) 120%
      );
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
    
}
.bottomBlur {
    position: absolute;
    width: 50vw;
    height: 30vw;
    min-width: 350px;
    min-width: 250px;
    bottom: 0px;
    left: -25vw;
    border-radius: 764px;
    background: rgba(8, 80, 213, 0.7);
    filter: blur(200px);
    z-index: 0;
  }
.links{
    display: flex;
    flex-direction: column;
   margin-top: 20px;
   margin-bottom: 15px;
    align-items:start;
    list-style: none;
    gap: 26px;
}
.link{
    display: flex;
    align-items: center;
    gap: 25px;
}
.link a{
    color:white;
    text-decoration:none;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.5px;

}
@media  screen and (max-width:830px){
    .description{
        margin-bottom: 20px;
        color: aquamarine;
    }
    .title{
        margin-bottom: 10px;

        
    }
    .links{
        
       display: none;
    }
    .iconlinks{
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        list-style: none;

    }
    h3{
        margin-bottom: 20px;
    }
}
